<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="BD" providerName="MySql.Data.MySqlClient"
		connectionString="Server=132.0.0.6;port=3306;Database=pastelaria_db;Uid=root;Pwd=KAUAN123;" />
	</connectionStrings>
	
	
	<appSettings>
		<add key="IdiomaRegiao" value="pt-BR"/>
	</appSettings>
</configuration>